@{
    ViewBag.Title = "Change Password";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Change Password </h3>
    </div>

    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <div class="forms-sample">

                        <label for="personname">Old Password</label>
                        <input type="password" class="form-control" maxlength="100" id="oldPass">

                        <label for="personname" style="padding-top:5px">New Password</label>
                        <input type="password" class="form-control" maxlength="100" id="newPass">

                        <label for="personname" style="padding-top:5px">Confirm Password</label>
                        <input type="text" class="form-control" maxlength="100" id="confirmPass">

                        <div class="modal-footer">
                            <button type="submit" id="BtnSubmit" class="btn btn-primary mr-2">Change Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#BtnSubmit").click(function () {

            if ($("#oldPass").val() == '') {
                alert("Fill the old password");
                $("#oldPass").focus();
                return false;
            }
            else if ($("#newPass").val() == '') {
                alert("Fill the new password");
                $("#newPass").focus();
                return false;
            }
            else if ($("#confirmPass").val() == '') {
                alert("Fill the confirm passwor");
                $("#confirmPass").focus();
                return false;
            }

            var req = {
                OldPassword: $("#oldPass").val(),
                NewPassword: $("#newPass").val(),
                ConfirmPassword: $("#confirmPass").val()                
            };

            $.ajax({
                type: "POST",
                url: "/Admin/ChangePassword",
                data: JSON.stringify({ _changePassword: req}),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#oldPass").val('');
                    $("#newPass").val('');
                    $("#confirmPass").val('');
                    alert(data.Message);
                },
                error: function () {
                    alert("Error occured!!")
                }
            });

        });
    });
</script>
